@use 'src/styles/_media' as media;

.logo {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.symbol {
  width: auto;
  height: 40px;

  @include media.tablet {
    height: 30px;
  }
}

.text {
  width: auto;
  height: 36px;

  @include media.tablet {
    height: 20px;
  }

  @include media.mobile {
    display: none;
  }
}
