@use 'src/styles/_color' as color;
@use 'src/styles/_font' as font;

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  & span {
    color: color.$Black-100;
  }

  & -field {
    flex: 1 1 200px; /* 최소 너비 */

    &-inline {
      display: flex;
      flex-direction: column;
    }

    &-block {
      display: flex;
      flex-direction: row;
    }
  }

  .input-error-message {
    color: red;
  }
}
