@use 'src/styles/_color' as color;
@use 'src/styles/_font' as font;

.form {
  display: flex;
  flex-flow: column wrap;

  &-title {
    align-self: center;

    @include font.Style(3xl, 600);
  }

  &-fieldset {
    display: flex;
    flex-flow: column wrap;
    gap: 16px;
    padding: 16px 0;
  }

  &[class*='create-form'] &-fieldset + &-fieldset {
    margin-top: 20px;
  }

  &-legend {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    color: color.$Black-400;

    @include font.Style(xl, 400);

    & [class*='required'] {
      color: color.$Primary-Orange-300;

      @include font.Style(md, 400);
    }
  }

  &-field {
    display: flex;
    gap: 16px;

    &-inline {
      display: flex;
      flex-direction: row;
    }

    &-block {
      display: flex;
      flex-direction: column;
    }
  }

  &-wrap {
    position: relative;
    display: block;
  }

  &-label {
    @include font.Style(xl, 400);
  }

  &-textarea {
    resize: none;
  }

  &-input,
  &-textarea {
    appearance: none;
    border-radius: 8px;
    border: 1px solid color.$Grayscale-200;
    width: 100%;
    min-height: 64px;
    max-width: 100%;
    max-height: 100%;
    background-color: transparent;
    color: color.$Black-400;

    &-required {
      color: color.$Primary-Orange-300;
      margin: auto 0;
      line-height: 1;
      padding-top: 4px;
    }

    @include font.Style(xl, 400);

    &::placeholder {
      color: color.$Grayscale-400;
    }

    &:focus {
      border-color: color.$Primary-Orange-300;
      caret-color: color.$Primary-Orange-300;
    }

    &[type='number'] {
      padding-right: 10px !important;
    }
  }

  &[class*='create-form'] &-input,
  &[class*='create-form'] &-textarea {
    border-color: color.$Background-200;
    background-color: color.$Background-200;
    padding: 14px 32px;
  }

  &-unit {
    position: absolute;
    top: 32px;
    right: 32px;
    z-index: 10;
    transform: translateY(-50%);
    display: block;

    @include font.Style(xl, 400);
  }
}

.input-error-message {
  color: red;
}

.owner-information {
  max-width: 640px;
  margin: 0 auto;
  margin-top: 80px;
}
