@use 'src/styles/_variables' as var;
@use 'src/styles/_color' as color;
@use 'src/styles/_font' as font;
@use 'src/styles/_media' as media;

.header {
  position: relative;
  z-index: 8;
  padding: 0 120px;
  border-color: color.$Line-50;
  background-color: #fff;

  @include media.tablet {
    padding: 0 72px;
  }

  @include media.mobile {
    padding: 0 24px;
  }
}

.inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1480px;
  min-height: var.$root_header_height_lg;
  gap: 48px;

  @include media.tablet {
    min-height: var.$root_header_height_md;
    gap: 32px;
  }

  @include media.mobile {
    min-height: var.$root_header_height_sm;
    gap: 16px;
  }
}
