@use 'src/styles/_variables' as var;
@use 'src/styles/_color' as color;
@use 'src/styles/_font' as font;
@use 'src/styles/_media' as media;

.title {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: var.$form-title-height-lg;

  @include media.tablet {
    position: absolute;
    inset: 0;
    bottom: auto;
    height: var.$form-title-height-md;
    padding: 20px 24px;
  }

  & p {
    @include font.Style(3xl, 600);

    color: color.$Black-500;

    @include media.tablet {
      @include font.Style(xl, 600);
    }
  }

  & button {
    display: inline-flex;
    width: auto;
  }
}
