.slide-container {
  position: relative;
}

.swiper {
  width: 100%;
}

.job-details-img {
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 0.5;
  object-fit: contain;
  border-radius: 8px;
}

.swiper-button-prev,
.swiper-button-next {
  color: #040404 !important;
}

.swiper-pagination-bullet {
  background-color: #373737 !important;
}

.swiper-pagination-bullet-active {
  background-color: #040404 !important;
}

.image-counter {
  position: absolute;
  bottom: 13px;
  right: -1%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 100px;
  padding: 8px 16px;
  width: auto;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.no-image-counter {
  height: 100px;
}

@media screen and (max-width: 1024px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }

  .image-counter {
    padding: 4px 8px;
    font-size: 13px;
    right: -2%;
  }
}
