@use '../../../../styles/color' as color;
@use '../../../../styles/font' as font;
@use '../../../../styles/media' as media;

.owner-information-sub-title {
  margin-top: 16px;
  align-self: center;

  @include font.Style(xl, 400);

  color: color.$Black-100;
}

.button-group {
  display: flex;
  gap: 5px;
}
