$Black-100: #6b6b6b;
$Black-200: #525252;
$Black-300: #373737;
$Black-400: #1f1f1f;
$Black-500: #040404;

$Grayscale-50: #ffffff;
$Grayscale-100: #dedede;
$Grayscale-200: #c4c4c4;
$Grayscale-300: #ababab;
$Grayscale-400: #999;
$Grayscale-500: #808080;

$Primary-Orange-50: #fff7eb;
$Primary-Orange-100: #fcc369;
$Primary-Orange-200: #fbaf37;
$Primary-Orange-300: #f89a05;
$Primary-Orange-400: #e18c05;

$Primary-red-100: #ec9479;
$Primary-red-200: #e6704c;
$Primary-red-300: #df4c1f;

$Primary-Blue-100: #535779;
$Primary-Blue-200: #3e415b;
$Primary-Blue-300: #2a2c3d;

$Background-50: #fcfcfc;
$Background-100: #f7f7f7;
$Background-150: #efefef;

$Line-50: #f2f2f2;
$Line-100: #e6e6e6;

$State-100: #fc4100;
