/*
 * @use '경로' as 사용할이름;
 */
@use 'src/styles/_color' as color;
@use 'src/styles/_font' as font;
@use 'src/styles/_media' as media;

/*
 * color 변수 사용 예시
 * color.$변수명;
 */
.example-color {
  color: color.$Black-500;
}

.example-background {
  background-color: color.$Background-50;
}

.example-line {
  border-color: color.$Line-50;
}

.example-state {
  border-color: color.$State-100;
  color: color.$State-100;
}

/*
 * font 변수 사용예시
 * @include font.Style(사이즈, 두께);
 * 피그마의 우측 Properties > Typography 에서 
 * 사이즈: Name 의 pretendard/{사이즈} => [ xs, sm, md, lg, 2lg, xl, 2xl, 3xl ] 
 * 두께: Weight => [ 400(Regular), 500(Medium), 600(Semibold), 700(Bold) ] 숫자 사용 권장!
 */
.example-font {
  @include font.Style(3xl, bold);
}

/*
 * media 변수 사용예시
 * mobile: ~ 767px
 * tablet: 768px ~ 1023px
 * desktop: 1024px ~
 */
// ~ 767px
@include media.mobile {
  .example-media {
    width: 320px;
  }
}

// 768px ~ 1023px
@include media.tablet {
  .example-media {
    width: 768px;
  }
}

// 1024px ~
@include media.desktop {
  .example-media {
    width: 1024px;
  }
}
