@use 'src/styles/_media' as media;
@use 'src/styles/_color' as color;
@use 'src/styles/_font' as font;

.modal-list-application-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 101;
  inset: 0;
  background-color: rgb(0 0 0 / 60%);
}

.modal-list-application-content {
  width: 770px;
  height: auto;
  position: relative;
  padding: 32px;
  box-shadow: 6px 6px 16px 0 #7d7d7d40;
  background-color: color.$Grayscale-50;
  border-radius: 24px;

  @include media.tablet {
    width: 375px;
    padding: 16px 24px;
  }
}

.list-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.application-status-list {
  @include font.Style(3xl, 600);

  color: color.$Black-500;
  margin: 0;

  @include media.tablet {
    @include font.Style(2lg, 600);
  }
}

.application-details-close {
  background-color: unset;
  border: none;
  min-width: 24px;
  min-height: 24px;
  width: 36px;
  height: 36px;
  padding: 0;

  @include media.tablet {
    width: 24px;
    height: 24px;
  }
}

.close-img {
  @include media.tablet {
    width: 24px;
    height: 24px;
  }
}

.list-description-container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.application-status-list-title-container {
  @include font.Style(xl, 400);

  color: color.$Black-100;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media.tablet {
    @include font.Style(md, 400);
  }
}

.name-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 34%;
}

.month-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 40%;
}

.status-list-wrapper {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.list-image-button {
  background-color: unset;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 36px;
  min-width: 24px;
  min-height: 24px;
  height: 36px;

  @include media.tablet {
    width: 24px;
    height: 24px;
  }
}

.ascending-img {
  @include media.tablet {
    width: 24px;
    height: 24px;
  }
}

.application-status-list-description-container {
  @include font.Style(xl, 400);

  color: color.$Black-400;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media.tablet {
    @include font.Style(md, 400);
  }
}

.list-map {
  display: flex;
  justify-content: space-between;
}

.list-name-number {
  display: flex;
  justify-content: space-between;
  flex-basis: 44%;

  @include media.tablet {
    column-gap: 20px;
    white-space: nowrap;
  }
}

.list-month-status {
  flex-basis: 40%;
  display: flex;
  justify-content: space-between;
}

.description-underline {
  text-decoration: underline;
  background-color: unset;
  border: none;
  cursor: pointer;
}
