@use 'src/styles/_color' as color;
@use 'src/styles/_font' as font;
@use 'src/styles/_media' as media;
@use 'src/styles/_variables' as var;

.actions {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: stretch;
  gap: 8px;

  & button {
    min-height: 72px;
  }

  @include media.tablet {
    position: absolute;
    z-index: 16;
    inset: 0;
    top: auto;
    margin: 0 auto;
    max-width: var.$max_width_lg;
    padding: 20px 24px;
    background-color: color.$Grayscale-50;

    & button {
      min-height: 56px;
    }
  }
}
