@use 'src/styles/_color' as color;
@use 'src/styles/_font' as font;
@use 'src/styles/_media' as media;

.nav {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 24px;
  color: color.$Grayscale-300;

  @include media.mobile {
    gap: 16px;
  }

  & a,
  div {
    cursor: pointer;
    color: inherit;

    @include font.Style(xl, 500);

    @include media.tablet {
      @include font.Style(lg, 500);
    }

    @include media.mobile {
      @include font.Style(md, 500);
    }

    &:hover {
      text-decoration: underline;
    }

    &.active {
      color: color.$Primary-Orange-300;
      text-decoration: none;

      @include font.Style(xl, 700);

      @include media.tablet {
        @include font.Style(lg, 700);
      }

      @include media.mobile {
        @include font.Style(md, 700);
      }
    }
  }
}
