@use 'src/styles/_variables' as var;
@use 'src/styles/_color' as color;
@use 'src/styles/_font' as font;
@use 'src/styles/_media' as media;

$gap_size_lg: 16px;
$gap_size_md: 12px;
$gap_size_sm: 8px;

.container {
  position: relative;
  margin-top: 100px;
}

.count {
  position: relative;
  border-bottom: 1px solid color.$Line-100;
  padding-bottom: 16px;
  color: color.$Black-400;

  @include font.Style(2xl, 600);
}

.form {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 16px 0;
  gap: 16px;

  & > * {
    padding: 0;
  }

  & > [class*='form-fieldset'] {
    flex: 1;
  }

  & > [class*='form-wrap'] {
    position: relative;
    height: auto;

    & > button {
      width: 100%;
      height: 100%;
      min-width: 128px;
    }
  }
}

.comment {
  position: relative;

  &-item {
    border-bottom: 1px solid color.$Line-100;
    padding: 32px 16px;

    &:first-child {
      border-top: 1px solid color.$Line-100;
    }
  }

  &-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    & .menu {
      & [class*='Dropdown_trigger'] {
        border: none;
        width: 36px;
        height: 36px;
        min-width: auto;
        min-height: auto;
        padding: 0;
        background-color: transparent;
        background-image: url('/icons/ic-kebab-menu.svg');
        background-size: 36px;
        background-position: center;
        font: unset;
      }

      & [class*='Dropdown_menu'] {
        right: 0;
        left: auto;
        border: 1px solid color.$Line-50;
        border-radius: 8px;
        width: fit-content;
        max-width: none;
        background-color: color.$Grayscale-50;
        box-shadow: 4px 4px 4px 0 rgb(228 228 228 / 10%);
      }

      & [class*='Dropdown_item'] {
        position: relative;
        min-width: 80px;
        min-height: 56px;
        padding: 8px 32px;
        color: color.$Grayscale-400;

        @include font.Style(lg, 500);

        text-align: center;
        white-space: nowrap;

        & + [class*='Dropdown_item'] {
          margin-top: -8px;
        }

        &:hover {
          background-color: transparent;
          color: color.$Black-400;

          @include font.Style(lg, 600);

          &::before {
            content: '';
            position: absolute;
            inset: 8px;
            z-index: -1;
            border-radius: 8px;
            background-color: color.$Primary-Orange-50;
          }
        }
      }
    }
  }

  &-about {
    display: flex;
    align-items: center;

    & > p {
      position: relative;
      margin-left: $gap_size_lg;
      padding-left: $gap_size_lg;
      color: color.$Grayscale-500;

      @include font.Style(lg, 400);

      @include media.tablet {
        margin-left: $gap_size_md;
        padding-left: $gap_size_md;

        @include font.Style(xs, 400);
      }

      @include media.mobile {
        margin-left: $gap_size_sm;
        padding-left: $gap_size_sm;
      }

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 2;
        transform: translate(-50%, -50%);
        border: 1px solid color.$Line-100;
        height: $gap_size_lg;
        font: unset;

        @include media.tablet {
          height: $gap_size_md;
        }

        @include media.mobile {
          height: $gap_size_sm;
        }
      }
    }
  }

  &-body {
    position: relative;
  }

  &-content {
    padding: 0 16px;
    color: color.$Black-400;
    white-space: pre-wrap;

    @include font.Style(xl, 400);
  }
}
