@use 'src/styles/_color' as color;
@use 'src/styles/_font' as font;
@use 'src/styles/_media' as media;
@use 'src/styles/_variables' as var;

.dropdown-condition {
  min-width: 120px;

  & button[class*='trigger'] {
    padding: 6px 16px;
    padding-right: 36px;
    min-height: 32px;
    border: none;
    background-color: transparent;
    background-image: url('/icons/ic-chevron-thin-down.svg');
    background-position: right 6px center;
    background-size: 24px;
    color: color.$Black-300;

    @include font.Style(lg, 600);

    &:not(:last-child) {
      border-color: color.$Grayscale-100;
      background-image: url('/icons/ic-chevron-thin-up.svg');
    }
  }

  & div[class*='menu'] {
    left: auto;
    right: 0;
    width: fit-content;
    min-width: 100%;
    max-width: none;
  }

  & button[class*='item'] {
    padding: 12px 28px;
    min-height: 32px;

    @include font.Style(lg, 600);

    white-space: nowrap;

    &.active {
      background-color: color.$Primary-Orange-50;
      color: color.$Primary-Orange-300;
    }
  }
}

.list-page {
  &-container {
    max-width: var.$max_width_lg;
    min-width: 240px;
    margin: 0 auto;
    padding-bottom: 160px;

    @include media.tablet {
      margin: 0 72px;
    }

    @include media.mobile {
      margin: 0 24px;
    }

    @media (width <= 1526px) {
      margin: 0 20px;
    }
  }

  &-searchBar {
    margin-top: 24px;
    margin-bottom: 41px;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &-searchButton {
    height: 64px;
    border-radius: 8px;
    background-color: color.$Primary-Orange-100;

    @include font.Style(xl, 600);
  }

  &-selectbar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 32px;
  }
}

.carditem-container {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: 0 auto;

  @include media.tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media.mobile {
    max-width: 480px;
    grid-template-columns: repeat(1, 1fr);
  }
}

.goto-top-button {
  position: fixed;
  bottom: 32px;
  left: 50%;
  z-index: 16;
  cursor: pointer;
  transform: translateX(-50%);
  transition: transform 0.3s ease;

  &:hover {
    transform: translateX(-50%) translateY(-15px);
  }
}

.floating-button-container {
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  right: 80px;
  bottom: 80px;

  @include media.mobile {
    right: 10px;
  }

  & img[class*='icon'] {
    filter: brightness(2);
  }
}
