@use 'src/styles/_variables.scss' as var;
@use 'src/styles/_color.scss' as color;
@use 'src/styles/_font' as font;
@use 'src/styles/_media' as media;

.main {
  position: relative;
}

.main-visual {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
  height: calc(100vh - var.$root_header_height_lg);
  background-color: color.$Black-400;

  @include media.tablet {
    min-height: calc(100vh - var.$root_header_height_md);
  }

  @include media.mobile {
    min-height: calc(100vh - var.$root_header_height_sm);
  }

  & * {
    z-index: 2;
    overflow: auto;
    filter: drop-shadow(0 0 1px color.$Black-400);
  }

  & svg {
    height: 48px;

    @include media.tablet {
      height: 24px;
    }
  }

  & h1 {
    font-size: 56px;
    font-weight: 400;
    line-height: 80px;
    text-align: center;
    color: color.$Grayscale-50;

    @include media.tablet {
      @include font.Style(xl, 400);
    }
  }

  & button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: 0;
    border-radius: 9999px;
    min-width: 160px;
    min-height: 32px;
    padding: 24px 36px;
    background-color: color.$Primary-Blue-300;
    color: color.$Grayscale-50;

    @include font.Style(2xl, 700);

    @include media.tablet {
      padding: 16px 24px;

      @include font.Style(lg, 700);
    }
  }

  & div {
    position: absolute;
    top: auto;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 50%;
    max-height: 610px;
    overflow: hidden;

    @include media.tablet {
      max-height: 320px;
    }
  }
}
