@use 'src/styles/_variables' as var;
@use 'src/styles/_color' as color;
@use 'src/styles/_font' as font;
@use 'src/styles/_media' as media;

.main {
  position: relative;
}

.visual {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var.$root_header_height_lg);
  background-color: color.$Black-400;

  @include media.tablet {
    height: calc(100vh - var.$root_header_height_md);
  }

  @include media.mobile {
    height: calc(100vh - var.$root_header_height_sm);
  }

  & * {
    z-index: 2;
    overflow: auto;
    filter: drop-shadow(0 0 1px color.$Black-400);
  }

  & svg {
    height: 48px;

    @include media.tablet {
      height: 24px;
    }
  }

  & h1 {
    margin-top: 32px;
    font-size: 56px;
    font-weight: 400;
    line-height: 80px;
    text-align: center;
    color: color.$Grayscale-50;

    @include media.tablet {
      margin-top: 24px;

      @include font.Style(xl, 400);
    }
  }

  & div {
    position: absolute;
    top: auto;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 50%;
    max-height: 610px;
    overflow: hidden;

    @include media.tablet {
      max-height: 320px;
    }
  }
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: 0;
  border-radius: 9999px;
  margin-top: 40px;
  min-width: 160px;
  min-height: 32px;
  padding: 24px 36px;
  background-color: color.$Primary-Blue-300;
  cursor: pointer;
  color: color.$Grayscale-50;

  &:hover {
    text-decoration: none;
  }

  &:visited {
    color: color.$Grayscale-50;
  }

  @include font.Style(2xl, 700);

  @include media.tablet {
    margin-top: 48px;
    padding: 16px 24px;

    @include font.Style(lg, 700);
  }
}

.promotion {
  background-color: color.$Grayscale-50;
  color: color.$Black-400;

  & .container {
    display: none;

    &:nth-child(1) {
      display: flex;

      @include media.tablet {
        display: none;
      }
    }

    &:nth-child(2) {
      @include media.tablet {
        display: flex;
      }

      @include media.mobile {
        display: none;
      }
    }

    &:nth-child(3) {
      @include media.mobile {
        display: flex;
      }
    }

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 240px;
    padding: 400px 160px 320px;

    @include media.tablet {
      gap: 160px;
      padding: 240px 80px 200px;
    }

    @include media.mobile {
      gap: 160px;
      padding: 120px 24px 200px;
    }

    & .image {
      position: relative;
      width: 100%;
      height: 640px;
      max-width: 1140px;
      max-height: 50vh;

      @include media.tablet {
        height: 320px;
        max-width: 570px;
      }

      @include media.mobile {
        height: 344px;
        max-width: 327px;
      }
    }
  }

  & .foot {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 80px;
    width: auto;
    height: 100vh;
    padding: 80px;

    @include media.tablet {
      gap: 56px;
      padding: 24px;
    }

    & h1 {
      font-weight: 700;
      font-size: 48px;
      line-height: 68px;
      text-align: center;
      color: color.$Black-400;

      @include media.tablet {
        @include font.Style(3xl, 700);
      }

      @include media.mobile {
        @include font.Style(2xl, 700);
      }
    }

    & .button {
      margin: 0;
    }
  }
}
