@use 'src/styles/_color' as color;
@use 'src/styles/_font' as font;
@use 'src/styles/_media' as media;
@use 'src/styles/_variables' as var;

.default {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 58px;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;

  @include font.Style(xl, 600);

  @include media.tablet {
    min-height: 40px;

    @include font.Style(lg, 600);
  }

  @include media.mobile {
    @include font.Style(lg, 600);
  }
}

.icon {
  width: 36px;
  height: 36px;

  @include media.tablet {
    width: 24px;
    height: 24px;
  }
}

.solid {
  background-color: color.$Primary-Orange-300;
  color: color.$Grayscale-50;

  &:hover,
  &:focus {
    background-color: color.$Primary-Orange-200;
  }

  &:disabled {
    background-color: color.$Grayscale-100;
  }

  &.gray {
    background-color: color.$Grayscale-200;
    color: color.$Grayscale-50;

    &:hover,
    &:focus {
      background-color: color.$Primary-Orange-200;
    }

    &:disabled {
      background-color: color.$Grayscale-100;
    }
  }
}

.outline {
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: color.$Primary-Orange-300;
  color: color.$Primary-Orange-300;

  &:hover,
  &:focus {
    border-color: color.$Primary-Orange-200;
    color: color.$Primary-Orange-200;
  }

  &:disabled {
    border-color: color.$Grayscale-100;
    color: color.$Grayscale-100;
  }

  &.gray {
    border-color: color.$Grayscale-200;
    color: color.$Grayscale-300;

    &:hover,
    &:focus {
      border-color: color.$Primary-Orange-200;
      color: color.$Primary-Orange-200;
    }

    &:disabled {
      border-color: color.$Grayscale-100;
      color: color.$Grayscale-100;
    }
  }
}
