@use 'src/styles/_color' as color;
@use 'src/styles/_font' as font;
@use 'src/styles/_media' as media;
@use 'src/styles/_variables' as var;

.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 24px;
  width: var.$form-aside-width-lg;
  height: 100%;
  padding: 40px;
  background-color: color.$Background-200;

  @include media.tablet {
    margin-top: calc(var.$form-title-height-md - 20px);
    width: 100%;
    height: fit-content;
    padding: 0;
  }
}

.temporary-form-data-container {
  display: block;
}
