@use 'src/styles/_variables' as var;
@use 'src/styles/_color' as color;
@use 'src/styles/_font' as font;
@use 'src/styles/_media' as media;

.steps {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 8px;

  @include media.tablet {
    & > .button {
      display: none;
    }
  }

  & > [class*='Dropdown_container'] {
    display: none;
  }

  @include media.tablet {
    & > [class*='Dropdown_container'] {
      display: block;

      & > [class*='Dropdown_trigger'] {
        border: none;
        min-height: auto;
        padding: 0;

        & > .button {
          display: none;
          width: 100%;

          &.active {
            position: relative;
            display: flex;

            &::after {
              content: '';
              display: block;
              position: absolute;
              top: 50%;
              right: 16px;
              transform-origin: center;
              transform: translateY(-50%) rotateX(0deg);
              width: 32px;
              height: 32px;
              background-image: url('/icons/ic-chevron-down.svg');
              background-repeat: no-repeat;
              background-size: 32px;
              background-position: right center;
              filter: brightness(2);
              transition: 0.16s;
            }
          }
        }

        &:not(:last-child) {
          & > .button.active::after {
            transform: translateY(-50%) rotateX(180deg);
          }
        }
      }
    }
  }
}

.button {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  min-height: 80px;
  padding: 20px 32px;
  background-color: transparent;
  color: color.$Black-100;

  @include font.Style(xl, 600);

  &[class*='Dropdown_item'] {
    border-radius: 0;
  }

  @include media.tablet {
    justify-content: flex-start;
    gap: 12px;
    min-height: 52px;
    padding: 12px 24px;

    @include font.Style(lg, 600);
  }

  & .title {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

    @include media.tablet {
      gap: 10px;
    }
  }

  & .index {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    width: 28px;
    height: 28px;
    background-color: color.$Background-300;
    color: color.$Grayscale-200;
    font-style: normal;

    @include font.Style(xl, 600);

    @include media.tablet {
      width: 20px;
      height: 20px;

      @include font.Style(md, 600);
    }
  }

  & .status {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    border: 1px solid color.$Grayscale-100;
    padding: 6px 12px;
    min-height: 38px;
    background-color: color.$Background-100;
    color: color.$Grayscale-300;

    @include font.Style(lg, 500);

    line-height: 1;

    @include media.tablet {
      min-height: 28px;
      padding: 4px 8px;
    }
  }

  &.active {
    background-color: color.$Primary-Orange-300;
    color: color.$Grayscale-50;

    & .index {
      background-color: color.$Background-100;
      color: color.$Primary-Orange-300;
    }

    & .status {
      border-color: color.$Grayscale-50;
      background-color: color.$Primary-Orange-200;
      color: color.$Grayscale-50;
    }
  }
}

.temporary-form-data-container {
  display: block;
}
