@use 'src/styles/_media' as media;
@use 'src/styles/_variables' as var;

.job-details {
  padding: 0 120px;

  @include media.tablet {
    padding: 0 72px;
  }

  @include media.mobile {
    padding: 0 24px;
  }

  & > div {
    margin: 80px auto 120px;
    max-width: var.$max_width_lg;
  }
}
