@use "src/styles/color" as color;

.buttonClass {
  width: 140px;
  height: 64px;
  padding: 14px 16px 14px 12px;
  border-radius: 100px;
  background-color: color.$Primary-Orange-300;
  box-shadow:
    0px 0px 4px 0px rgba(60, 37, 37, 0.08),
    0px 4px 8px 0px rgba(0, 0, 0, 0.08),
    0px 6px 12px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;

  &.small {
    width: 100%;
    height: 100%;
    padding: 14px 18px 14px 16px;
  }

  &.hovered {
    background-color: color.$Primary-Orange-200;
  }

  &.clicked {
    background-color: color.$Primary-Orange-100;
  }
}

.bookmark {
}
