@use 'src/styles/_color' as color;
@use 'src/styles/_font' as font;
@use 'src/styles/_media' as media;
@use 'src/styles/_variables' as var;

.form-details-client {
  position: relative;
  display: flex;
  flex-direction: column;
}

.job-details-container {
  margin-top: 80px;

  @include media.tablet {
    margin-top: 32px;
  }
}

.job-details-content {
  display: flex;
  column-gap: 150px;

  @include media.tablet {
    flex-direction: column;
  }
}

.job-details-info {
  flex-basis: 54.61%;
  margin-bottom: 129px;

  @include media.tablet {
    margin-bottom: 32px;
  }

  @include media.mobile {
    margin-bottom: 64px;
  }
}

.location-info {
  flex-basis: 54.61%;
}

.schedule-contact-container {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  flex-basis: 45.39%;
  margin-bottom: 88px;

  @include media.tablet {
    display: none;
  }
}

.location-requirements-container {
  display: flex;
  column-gap: 150px;

  @include media.tablet {
    flex-direction: column-reverse;
    row-gap: 48px;
  }
}

.requirements-info {
  flex-basis: 45.39%;
}

.floating-button-container {
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  right: 80px;
  bottom: 80px;

  @include media.mobile {
    right: 10px;
  }
}

.floating-menu-container {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
  display: flex;
  flex-direction: row-reverse;
  width: fit-content;
  padding-right: 0;
  gap: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.24s;

  & button {
    transition: all 0.24s;

    &:nth-child(1) {
      transform: translateX(0);
    }

    &:nth-child(2) {
      transform: translateX(100%);
    }
  }
}

.floating-menu-container.visible {
  right: 100%;
  z-index: 0;
  padding-right: 20px;
  gap: 20px;
  opacity: 1;
  visibility: visible;

  & button {
    transform: translateX(0);
  }
}

.button-container {
  display: none;

  @include media.tablet {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 22px;
  }

  @include media.mobile {
    margin-top: 46px;
  }
}

.owner-button-container {
  display: flex;
  column-gap: 8px;
}

.button-hide-text {
  @include media.tablet {
    display: none;
  }
}
