@use 'styles/_media' as media;

.job-details-content {
  display: flex;
  column-gap: 150px;

  @include media.tablet {
    flex-direction: column;
  }
}

.job-details-info {
  flex-basis: 54.61%;
  margin-bottom: 129px;

  @include media.tablet {
    margin-bottom: 32px;
  }

  @include media.mobile {
    margin-bottom: 64px;
  }
}

.location-info {
  flex-basis: 54.61%;
}

.schedule-contact-container {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  flex-basis: 45.39%;
  margin-bottom: 88px;

  @include media.tablet {
    display: none;
  }
}

.location-requirements-container {
  display: flex;
  column-gap: 150px;

  @include media.tablet {
    flex-direction: column-reverse;
    row-gap: 48px;
  }
}

.requirements-info {
  flex-basis: 45.39%;
}

.button-container {
  display: none;

  @include media.tablet {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 22px;
  }

  @include media.mobile {
    margin-top: 46px;
  }
}
