@use 'src/styles/_media' as media;
@use 'src/styles/_color' as color;
@use 'src/styles/_font' as font;

.form-details-client {
  position: relative;
  display: flex;
  flex-direction: column;
}

.job-details-container {
  margin-top: 80px;

  @include media.tablet {
    margin-top: 32px;
  }
}

.job-details-content {
  display: flex;
  column-gap: 150px;

  @include media.tablet {
    flex-direction: column;
  }
}

.job-details-info {
  flex-basis: 54.61%;
  margin-bottom: 129px;

  @include media.tablet {
    margin-bottom: 32px;
  }

  @include media.mobile {
    margin-bottom: 64px;
  }
}

.location-info {
  flex-basis: 54.61%;
}

.schedule-contact-container {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  flex-basis: 45.39%;
  margin-bottom: 88px;

  @include media.tablet {
    display: none;
  }
}

.location-requirements-container {
  display: flex;
  column-gap: 150px;

  @include media.tablet {
    flex-direction: column-reverse;
    row-gap: 48px;
  }
}

.requirements-info {
  flex-basis: 45.39%;
}

.floating-button-container {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  position: fixed;
  top: 670px;
  right: 180px;

  @include media.mobile {
    right: 10px;
  }
}

.floating-menu-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  transform: translateY(-20px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.floating-menu-container.visible {
  opacity: 1;
  transform: translateY(0);
}

.button-container {
  display: none;

  @include media.tablet {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 22px;
  }

  @include media.mobile {
    margin-top: 46px;
  }
}

.owner-button-container {
  display: flex;
  column-gap: 8px;
}

.button-hide-text {
  @include media.tablet {
    display: none;
  }
}
